.slider
{
    position: relative;
}

.slider-list
{
    margin: 0;
    padding: 0; 

    list-style: none;
}

.slider-arrow
{
    margin: 0;
    padding: 0; 

    list-style: none;
}

.slider-arrow-prev
{
    position: absolute;
    top: 50%;
    left: 10px;

    margin: -11px 0 0 0;
}

.slider-arrow-next
{
    position: absolute;
    top: 50%;
    right: 10px;

    margin: -11px 0 0 0;
}

.slider-dots
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slider-dots li
{
    display: inline-block;
}
