@charset "utf-8";

// クラス属性の設定
$slider: slider;
$slider_list: slider-list;
$slider_item: slider-item;
$slider_arrow: slider-arrow;
$slider_dots: slider-dots;



// 共通
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}


// スラィダー
.#{$slider} {
	position: relative;
	overflow: hidden;
}

.#{$slider_list} {
	list-style: none;
	margin: 0;
	padding: 0;
	transition: transform .5s ease;
}
.#{$slider_item} {
	float: left;
	width: 100%;
}

.#{$slider_arrow} {
	list-style: none;
	margin: 0;
	padding: 0;
}
.#{$slider_arrow}-prev,
.#{$slider_arrow}-next {
	position: absolute;
	top: 50%;
	display: block;
	margin-top: -20px;
	button {
		padding: 0;
		cursor: pointer;
		color: transparent;
		border: none;
		outline: none;
		background: transparent;
	}
	button[disabled] {
		opacity: 0.5;
	}
	button:before {
		content: "";
		display: block;
		width: 40px;
		height: 40px;
	}
}
.#{$slider_arrow}-prev {
	left: 10px;
	button:before {
		background: url('../images/left-arrow.svg');
	}
}
.#{$slider_arrow}-next {
	right: 10px;
	button:before {
		background: url('../images/right-arrow.svg');
	}
}

.#{$slider_dots} {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	li {
		display: inline-block;
		margin: 0 5px;
	}
	button {
		padding: 0;
		cursor: pointer;
		color: transparent;
		border: none;
		outline: none;
		background: transparent;
		&:before {
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			border-radius:50%;
			background: rgba(0,0,0,0.5);
		}
		&.active {
			opacity: .5;
		}
	}
}